<template>
     aaaa
</template>

<script>

</script>
<style lang="scss">
    .page-article {
        .el-breadcrumb {
            margin-top: 15px;
            .el-breadcrumb__inner a,
            .el-breadcrumb__inner.is-link {
                color: #666;
            }
            .el-breadcrumb__item:last-child .el-breadcrumb__inner {
                color: #777;
            }
            .el-breadcrumb__inner a:hover,
            .el-breadcrumb__inner.is-link:hover {
                color: #409eff;
            }
        }
        .el-card__header {
            h1 {
                font-size: 24px;
                font-weight: 400;
                margin: 0;
                color: #111;
                .icon-recommend {
                    height: 30px;
                    vertical-align: middle;
                }
            }
        }
        [data-w-e-type='todo'] {
            input {
                margin-right: 5px;
            }
        }
        .article-info {
            font-size: 13px;
            span {
                margin-right: 10px;
                &.float-right {
                    margin-right: 0;
                }
            }
        }
        .article-list {
            .el-card__body {
                padding-top: 10px;
            }
            a {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 40px;
                line-height: 40px;
                border-bottom: 1px dashed #efefef;
            }
        }
        article {
            line-height: 180%;
            min-height: 300px;
            word-wrap: break-word;
            img {
                max-width: 100% !important;
                cursor: zoom-in;
                height: auto !important;
                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    border-radius: 4px !important;
                    overflow: hidden;
                }
            }
            .w-e-text-container [data-slate-editor] blockquote {
                border-left-width: 4px !important;
            }
            blockquote {
                padding: 10px;
                color: #777;
                font-size: 0.95em;
                background-color: #f6f8fa;
            }
        }
        .m-userinfo {
            display: flex;
            align-items: center;
            color: #999;
            .user-profile {
                margin-left: 10px;
                position: relative;
                top: -4px;
            }
            small {
                font-size: 12px;
            }
            .article-info {
                margin-top: 15px;
                color: #999;
                font-size: 12px;
                flex: 1;
                text-align: right;
                span {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .article-list {
                position: relative !important;
                width: 100% !important;
                top: 0 !important;
            }
        }
    }
</style>
